﻿#{id}settingsTabView
{
	width:100% !important;
	height:100% !important;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
}

#{id}listContainer,#{id}containerListGrp,#{id}containerListSpaces
{
    width:auto !important;
	height:auto !important;
	left:5px;
	top:10px;
	bottom:10px;	
}

#{id}formContainer,#{id}containerFormGrp,#{id}containerFormGroupS
{
	width:380px !important;
	height:auto !important;
	left:auto;
	top:5px;
	right:5px;	
	bottom:5px;	
	
}

#{id}containerFormLibrary,#{id}containerFormDirectory
{
	width:380px !important;
	height:auto !important;
	top:110px;
	left : auto;
	right:0px;	
	bottom:5px;	
	
}
#{id}imageButtonUpdate,#{id}imageButtonUpdateS
{
	width:50px;
	height:32px;
	margin-left:320px !important;
	margin-bottom:10px !important;
}

#{id}imageButtonDelete,#{id}imageButtonDeleteS
{
	width:50px;
	height:32px;
	margin-left:260px !important;
	margin-bottom:10px !important;
}

#{id}imageButtonAdd,#{id}imageButtonAddS
{
	width:50px;
	height:32px;
	margin-left:200px !important;
	margin-bottom:10px !important;
}

#{id}addUserContainer
{
	width : 500px !important;
	height: 480px !important;
	margin-left:300px !important;
	margin-right:300px !important;
	margin-top:0px !important;
	
	
}

#{id}containerAddGroup,#{id}containerUpdateGrp,#{id}containerUpdateSpace
{
	width : 450px !important;
	height: 400px !important;
	margin-left:325px !important;
	margin-right:325px !important;
	margin-top:25px !important;
}
#{id}updateUserContainer
{
	width : 500px !important;
	height: 479px !important;
	margin-left:300px !important;
	margin-right:300px !important;
	margin-top:0px !important;
}

#{id}textFieldAddAddress
{
	height : 55px !important;
}
#{id}textFieldAddress
{
	height : 50px !important;	
}

/*#{id}containerAddGrps
{
	width:375px;
	height:375px;
	margin-right:150px !important;
	margin-left:200px !important;	
}*/

#{id}containerGridGroup
{
	width:100% !important;
	height:100% !important;
}

#{id}groupDataGrid
{
	width:285px !important;
	height:200px !important;
	top: 40px !important;
	
}

#{id}documentDataGrid
{
	width:345px !important;
	height:175px !important;
	top: 285px !important;
}

#{id}imageButtonAddGr
{
	width:50px;
	height:32px;
	right:10px !important;
	top:40px !important;
	
}

#{id}imageButtonDeletGr
{
	width:50px;
	height:32px;
	right:10px !important;
	top:80px !important;
	
}

#{id}dataGridUsersList
{
	top:75px !important;
	bottom:75px !important;
	right:50px !important;
	left:50px !important;
}

#{id}imageButtonPlus
{
	width:50px;
	height:32px;
	top:380px !important;
	left:275px !important;	
}

#{id}imageButtonMinus
{
	width:50px;
	height:32px;
	top:380px !important;
	left:330px !important;
}

#{id}imageButtonAddRol
{
	width:50px;
	height:32px;
	top:370px !important;
	left:210px !important;
	
}

#{id}imageButtonAddLibrary,#{id}imageButtonAddRolGrpDir
{
	width:50px;
	height:32px;
	top:325px !important;
	left:190px !important;
	
}

#{id}imageButtonDelRol
{
	width:50px;
	height:32px;
	top:370px !important;
	left:265px !important;
	
}

#{id}imageButtonDeletLibrary,#{id}imageButtonDelRolGrpDir
{
	width:50px;
	height:32px;
	top:325px !important;
	left:245px !important;
	
}

#{id}imageButtonUpRol
{
	width:50px;
	height:32px;
	top:370px !important;
	left:320px !important;
	
}

#{id}imageButtonEditLibrary,#{id}imageButtonUpRolGroupDir
{
	width:50px;
	height:32px;
	top:325px !important;
	left:300px !important;
	
}

#{id}containerListUs
{
	width : 450px !important;
	height : 450px !important;
	top:35px !important;
	left:300px !important;
	
}

#{id}containerAddGrps
{
	width : 450px !important;
	height :400px !important;
	top:50px !important;
	left:300px !important;
	
}

#{id}buttonClearGR
{
	width:50px;
	height:32px;
	top:220px !important;
	left:185px !important;
	
}

#{id}buttonSaveGR
{
	width:50px;
	height:32px;
	top:220px !important;
	left:129px !important;
	
}

#waf-body .waf-textField{
    padding: 3px 6px;    
    border: 1px solid #999;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.3);
/*    background-color: #FFFAF4;*/
    font-size: 12px; 
    font-family: helvetica, arial, sans serif;
    color: #444739;
	width: 210px;
    height:30px;
    font-weight: bold; 
  
}

#waf-body .waf-textField:focus {
	
	border:1px solid #4D90FE;
	background-color : #ffffff;
	width: 210px;
	font-size: 12px; 
    font-family: helvetica, arial, sans serif;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

#waf-body .waf-button
{
	background:#f7b135;
	color: #ffffff;
	text-shadow: none;
	border:none;
	box-shadow:none;
/*	height:35px;*/
	box-radius: 0px !important ;
	
}

#{id}richTextTitleGr ,#{id}richTextTitleListUs,#{id}richTextTitleAddGrpRole,#{id}richTextTitleAddLibrary,#{id}richTextTitleLibraryUp,#{id}richTextTitleAddDir,#{id}richTextTitleUpRolDir
{
	padding:5px 0 10px 10px;
}

#{id}containerUpGrpRol,#{id}containerAddGrpRol,#{id}containerAddDirectoryRole,#{id}containerUpRolDir,#{id}containerAddLibraryRole,#{id}containerUpdateRoleLibrary
{
	margin : auto !important;
	width : 375px !important;
	height : 325px !important;
	left : 0 !important;
	top : 0 !important;
	right :0 !important;
	bottom : 0 !important;
	
}

#{id}containerLibrariesList,#{id}containerDirectoriesList
{
	height : 100% !important;
	width : 100% !important;
}
#{id}containerHeaderLibraries,#{id}containerHeaderDirectories
{
	height : 55px !important;
	width : 100% !important;
}



#{id}dataGridLibrariesList,#{id}dataGridDirList
{
	width:auto !important;
	height:auto !important;
	left:5px;
	top:110px !important;
	bottom:20px;
}

#{id}containerDialogDeletion,#{id}DialogDeletGroup,#{id}DialogDeleteUser,#{id}DialogdeletGroupUser,#{id}DialogDeletUserGr,#{id}DialogDeletRoleSpace,#{id}DialogDeletRolDir,#{id}DialogSendEmail
{
	width :490px !important;
	height : 211px !important;
	margin : auto !important;
	left : 0 !important;
	top : 0 !important;
	right : 0 !important;
	bottom : 0 !important;
}

