﻿#waf-body .waf-buttonImage
{
	width:50px;
	height:32px;
/*	margin-top:30px !important;	*/
}

#{id}bodyContainer
{
	width:100% !important;
	height:100% !important;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
}

#{id}navigationContainer
{
	width:100% !important;
	height:76px !important;
	left:0;
	right:0;
	
}

#{id}documentsContainer{
	
	width:500px !important;
	height:100% !important;
    top:76px;
	right:0px !important;
	margin-left:auto;
}
#{id}spacesContainer{
    width : auto !important;
	height:220px !important;
    top:76px !important;
	right:450px !important;	
}

#{id}directoriesContainer{
    width : auto !important;
	height : auto;
    top:296px !important;
	right:450px !important;	
	bottom:0px;
}
#{id}documentsMatrix{

	 width: 500px !important; 
	 height: auto !imporant;
	 top: 10px !imporant;
	 left: 20px !important;	
	
}

#{id}spacesMatrix,#{id}directoriesMatrix{

	 width: 600px !important; 
	 height: auto !imporant;
	 top: 10px !imporant;
	 left: 20px !important;	
	
}

#{id}container5 {
	 width: 500px !important; 
	 height: 28px !imporant;
	 top: 5px !imporant;
	 left: 50px !important;
	 font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	 font-size: 14px !important;
}

#{id}container0,#{id}container1 {
	 width:600px !important; 
	 height: 28px !imporant;
	 top: 5px !imporant;
	 left: 50px !important;
	 font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	 font-size: 12px !important;
}
#{id}accountContainer{
	
	top:10px;
	width:500px;
	height: 510px;
	left:300px;
	right:300px;
}
#{id}imageButtonCloAcc{
	
	top:0px !important;
	right:0px !important;
	left:476px;
	width : 24px !important;
	height:24px !important;
	
}
#{id}saveButton{
	
	bottom:10px !important;
	right:20px !important;
	width : 60px;
	height:30px;
	color : #ffffff;
	
}


#{id}docRichText{
	overflow:hidden;
	height:16px !important;
	width : 150px !important;
}
#{id}richTextTitle{
	height:30px !important;
	margin-left:0px !important;
	margin-bottom:10px !important;
	
}

#waf-body .waf-textField{
    padding: 3px 6px;    
    border: 1px solid #999;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.3);
/*    background-color: #FFFAF4;*/
    font-size: 12px; 
    font-family: helvetica, arial, sans serif;
    color: #444739;
	width: 210px;
    height:30px;
    font-weight: bold; 
  
}

#waf-body .waf-textField:focus {
	
	border:1px solid #4D90FE;
	background-color : #ffffff;
	width: 210px;
	font-size: 12px; 
    font-family: helvetica, arial, sans serif;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
	 
