
/*#menuContainer{*/
/*	margin: 0px auto;*/
/*	min-height: 350px;*/
/*	max-height: 350px;*/
/*	*/
/*}*/
#login2 {
background: transparent !important;
}
#menuItem1.isSelected, #menuItem2.isSelected, #menuItem3.isSelected, #menuItem7.isSelected{
	color:white;
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: rgb(255, 255, 255);
}