﻿#{id}newSpaceContainer,#{id}modifySpaceContainer,#{id}confirmDeleteContainer,#{id}newLibraryContainer, #{id}newDirectoryContainer,
 #{id}newDocumentContainer, #{id}confirmDeleteLibraryContainer, #{id}deleteDirectoryContainer, #{id}deleteDocumentContainer,
 #{id}modifyLibraryContainer, #{id}modifyDirectoryContainer, #{id}newVersionContainer,
  #{id}cofirmDeleteVersionContainer, #{id}chooseOptionCreateContainer {
/*	margin-left: auto;*/
	margin-left: 150px;
	margin-right: 150px;
/*	margin-right: auto;*/
	width:490px; 
	 
}
#{id}displayErrorsSaveDocumentsContainer, #{id}displayErrorNewVersionContainer{
	margin-left: 150px;
	margin-right: 150px;
	width:550px;
}
#{id}body,#{id}matrixSpaces,#{id}matrixLibraries, #{id}matrixDocuments {
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
	min-width: 50%;
	margin-bottom: auto;
	right: 0px;
	 
}
#{id}spacesBody,#{id}librariesBody,#{id}documentsBody{
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}
#{id}navigationContainer,#{id}librariesNavContainer, #{id}documentsNavContainer {
	margin: 0px auto;
	min-height: 74px;
	max-height: 74px;
/*	background-color: white !important;*/
/*	color:white !important;*/
}
#{id}descriptionTextField,#{id}modifyDescriptionTextField,#{id}modifyDescriptionTextField, #{id}directoryDescription,
#{id}libraryDescription, #{id}descriptionModifyLibraryTextField{
	min-height: 74px;
	max-height: 74px;
}
#bodyComponent_descriptionTextField, #bodyComponent_modifyDescriptionTextField, #bodyComponent_modifyDescriptionTextField, #bodyComponent_directoryDescription, #bodyComponent_libraryDescription{
	min-height: 74px !important;
	max-height: 74px !important;
}


#{id}queryTextField{
	min-height: 31px;
	max-height: 31px;
	border-style:solid;
	border-color:#f7b135 !important;
}

#waf-body .waf-button
{
	background:#f7b135;
	color: #ffffff;
	text-shadow: none;
	border:none;
	box-shadow:none;
/*	height:35px;*/
	box-radius: 0px;
	
}
#{id}matrixLibraries .waf-widget.waf-clone-{id}librariesContainer,#{id}matrixSpaces .waf-widget.waf-clone-{id}spaceContainer, #{id}matrixDocuments .waf-widget.waf-clone-{id}documentContainer {
	cursor:  pointer;
}
/*management upload file container*/
#waf-body .BrowseButton {
/*	background: transparent;*/
/*	background-color:#e5e5e5;*/
	width: 60px !important;
	height:30px !important;
	top: 8px !important;
/*	right: 57px !important;*/
	
}
#waf-body .uploadButton {
	background: #f7b135 url("/Images/upload.png") no-repeat !important;
	background-position: center center !important;
	width: 50px !important;
	height:30px !important;
	right: 66px !important;
	top: 8px !important;

}
#waf-body .uploadButton.waf-state-hover {
	background:#edd1a1 url("/Images/upload.png") no-repeat top center !important;
}

#{id}button6 {
	 width: 20px !important;
	 height: 30px !important;
	 top: 8px !important;
	 right: 140px !important;
	 
}

#{id}button5 {
	 width: 20px; !important;
	 height: 30px !important;
	 top: 8px !important;
	 right: 118px !important;
	 
}
/*end of manage upload file container*/
/*management upload new version file container */
/*parcourir*/
#{id}button4{
	width: 60px !important;
	height:30px !important;
	top: 8px !important;	
}
#{id}button10 {
	 width: 20px !important;
	 height: 30px !important;
	 top: 8px !important;
	 right: 140px !important;
	 
}

#{id}button9 {
	 width: 20px; !important;
	 height: 30px !important;
	 top: 8px !important;
	 right: 118px !important;
	 
}
#{id}commentVersionTextField{
	min-height: 74px;
	max-height: 74px;
}
/*end of manage upload new version file container */

#{id} metaDataChildContainer{
/*	width:680px; !important;*/
	left:5px !important;
	right:5px !important;
}
/*Label Search */
#bodyComponent_label28 {
	min-width: 70px !important;
	max-width: 70px !important;
	right:690px !important;
	bottom:12px !important;
}
/*mangement css space container */

#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_richText1{
	 color:black !important;
	 font-size:15px;
	 
}

#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_richText2{
	left: 100px !important;
	color:black !important;
	font-weight: normal !important;
	max-height: 50px !important;
	text-align: left;
}
#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_richText3, #bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_richText4
	, #bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_richText5{
	color:black !important;
	left:120px !important;
	font-weight: normal !important;
}

#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_label1 {
	left:10px !important;
	min-width: 100px!important;
	max-width: 100px!important;
}
#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_label4 {
	left:10px !important;
	color:#666666 !important;
	min-width: 100px!important;
	max-width: 100px!important;
}
#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_label2 {
	left:7px !important;
	min-width: 100px!important;
	max-width: 100px!important;
}
#bodyComponent_matrixSpaces .waf-widget.waf-clone-bodyComponent_label3 {
	left:10px !important;
	top:203px !important;
	min-width: 110px!important;
	max-width: 110px!important;
	color:#666666 !important;
}
/*metadata container */
/*description metadata*/
 #{id}textField9, #{id}textField12{
	min-height: 55px !important;
	max-height: 55px !important;
}
#bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_textField9 {
	min-height: 55px !important;
	max-height: 55px !important;
}


/*name of document*/
#{id}richText28, #{id}richText22{
	text-align: center !important;
	left: auto;
	right: auto;
	position: relative;
}

#bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label26, #bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label17, #bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label24{
	min-width: 80px !important;
	max-width: 80px !important;
	left:5px !important;
}
#bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label22, #bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label25{
	min-width: 70px !important;
	max-width: 70px !important;
	left:325px !important;
}
#bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label12, #bodyComponent_matrix1 .waf-widget.waf-clone-bodyComponent_label27{
	min-width: 135px !important;
	max-width: 135px !important;
	left:635px !important;
}
/*actionsLibraryContainer*/
#bodyComponent_matrixLibraries .waf-widget.waf-clone-bodyComponent_actionsLibraryContainer, #bodyComponent_matrixDocuments .waf-widget.waf-clone-bodyComponent_actionsDirectoryContainer  {
	border:none !important;
}
/*actionsDocumentContainer*/
#bodyComponent_matrixDocuments .waf-widget.waf-clone-bodyComponent_documentContainer.waf-state-selected, #bodyComponent_matrixDocuments .waf-widget.waf-clone-bodyComponent_documentContainer{
	overflow: visible !important;
/*	overflow-x:hidden !important;*/
}
#bodyComponent_matrixDocuments .waf-widget.waf-clone-bodyComponent_documentName, #bodyComponent_matrixDocuments .waf-widget.waf-clone-bodyComponent_richText11{
	min-width: 148px !important;
	max-width: 148px !important;	
}
/*management displayVersions Container*/
#bodyComponent_richText40, #bodyComponent_matrix2 .waf-widget.waf-clone-bodyComponent_richText45{
	min-width:60px !important;
}
#bodyComponent_matrix2 .waf-widget.waf-clone-bodyComponent_revertToVersionButton, #bodyComponent_matrix2 .waf-widget.waf-clone-bodyComponent_viewVersionButton,
#bodyComponent_matrix2 .waf-widget.waf-clone-bodyComponent_downloadVersionButton, #bodyComponent_matrix2 .waf-widget.waf-clone-bodyComponent_deleteVersionButton{
	cursor: pointer !important;
}
/*management revertVersionContainer*/
#{id}commentRevertVersion{
	min-height: 84px;
	max-height: 84px;
}
/*Management extractedMetaData newVersion*/

#{id}descriptionNewVersionTextField{
	min-height: 74px;
	max-height: 74px;
}
#{id}loadGoogleDocsImage {
	margin: auto !important;
	top : 0px !important;
	left : 0px !important;
	right :0px !important;
	bottom : 0px !important;
	 
}