﻿/*
	This CSS file, which was automatically created by Wakanda, allows you to share CSS styles for all the widgets on the Pages in your project.
	The CSS styles that are created when you create a Widget Role are placed in this file too.
*/
#headerContainer,#mainContainer{
	width:100%;
	right:0;
}

#footerContainer{
	width:100%;
	bottom:0px;
	right:0;
}
#headerCenteredContainer,#mainCenteredContainer,#footerCenteredContainer{
	margin:auto;
	max-width:980px;
	min-width:980px;
	width:100%;
	right:0;
}
#waf-body .waf-textField{
    padding: 3px 6px;    
    border: 1px solid #999;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.3);
/*    background-color: #FFFAF4;*/
    font-size: 12px; 
    font-family: helvetica, arial, sans serif;
    color: #444739;
/*   width: 200px;*/
    height:30px;
    font-weight: bold; 
  
}
#waf-body .waf-login-div {
 margin-bottom: 5px;
/*    width:350px;*/

}
#waf-body .ui-dialog-titlebar{
	background:#444739;
	font-size: 14px; 
    font-family: arial, helvetica,  sans serif;
    color:#e6e6e6;
    line-height:30px;
    text-align:center;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.3);
	
}


#waf-body .waf-login-dialog{	
	width:400px !important;
	height:auto;
	border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.3);
}

#waf-body .waf-textField:focus {
	
	border:1px solid #4D90FE;;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
#waf-body .waf-button
{
	background:#f7b135;
	color: rgb(115, 115, 115);
	text-shadow: none;
	border:none;
	box-shadow:none;
/*	height:35px;*/
	box-radius: 0px !important ;
	
}

#waf-body .waf-login-button
{
	background:#f7b135;
	font-size: 12px; 
    font-family: arial, helvetica,  sans serif;
    color:#e6e6e6;
	border : none;
	width : 50px;
	height :30px;
	border-radius : 0px !important ;
	
}

#waf-body .waf-login-button.waf-state-hover
{
	background:#edd1a1;
	
}

#waf-body .waf-button.waf-state-hover
{
	background:#edd1a1;
	
}


#waf-body .waf-buttonImage
{
	background:#f7b135;
	color: rgb(115, 115, 115);
	text-shadow: none;
	border:none;
	box-shadow:none;
/*	height:35px;*/
	box-radius: 0px;
	
}

#waf-body .waf-buttonImage.waf-state-hover
{
	background:#edd1a1;
	
}