﻿#waf-body #headerCenteredContainer,#waf-body #mainCentredContainer{
	margin:auto;
	max-width:980px;
	min-width:980px;
	width:980px;
	right:0;
}
#waf-body #headerContainer{
	min-width:980px !important;
}
/*#waf-body #mainCentredContainer1{*/
/*	margin:auto;*/
/*	max-width:326px;*/
/*	min-width:326px;*/
/*	left:0;*/
/*	right:654px;*/
/*	text-align:center;*/
/*}*/

/*#waf-body #mainCentredContainer2{*/
/*	margin:auto;*/
/*	max-width:327px;*/
/*	min-width:327px;*/
/*	left:326px;*/
/*	right:327px;*/
/*	text-align:center; */
/*	*/
/*}*/

/*#waf-body #mainCentredContainer3{*/
/*	margin:auto;*/
/*	max-width:327px;*/
/*	min-width:327px;*/
/*	left:653px;*/
/*	right:0;*/
/*	text-align:center; */
/*	*/
/*}*/

/*#waf-body #groupImage,#waf-body #dataImage,#waf-body #searchImage{*/
/*	display: block; */
/*    margin: 0 auto; */
/*    height: 128px; */
/*    width: 128px;*/
/*}*/